$bg-footer: #15336c;
$font-gray: #8A99B6;
.table {
    display: block;
    width: 70%;
    height: 50%;
    padding: 5px;
    background-color: white;
    opacity: .4;
}

.footer-bg {
    background: $bg-footer;
}

.font-gray {
    color: $font-gray;
}